h1#main {
    text-align: center;
}

h1#instruc {
    margin-left: 100px;
    text-align: center;
}

.wrapper {
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.gameboard {
    width: 506px;
    height:100px;
    border:3px solid white;
    z-index: 1;
    margin-bottom: 50px;
}
.gameboard div {
    width: 25px;
    height: 25px;
    float: left;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

div.top {
    border-top: 1px solid black;
}

div.bot {
    border-bottom: 1px solid black;
}

div.left {
    border-left: 1px solid black;
}

div.right {
    border-right: 1px solid black;
}

.gameboard#player1 div:nth-child(1) {
    background-color: purple;
}

.gameboard#player2 div:nth-child(1) {
    background-color: blue;
}

.gameboard#player1 div:nth-child(60) {
    background-color: greenyellow;
}

.gameboard#player2 div:nth-child(60) {
    background-color: greenyellow;
}

.button {
    background-color:white;
    width: 160px;
    margin:0 auto;
}
.updown {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.leftright {
    border-left: 1px solid;
    border-right: 1px solid;
}

body div.instructions {
    text-align: center;
    width: 400px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

body div.player1 {
    display: block;
    width: 200px;
    margin: auto;
    float: left;
}

body div.player2 {
    display: block;
    width: 200px;
    margin: auto;
    float: left;
}